name: build

on:
  push:
    branches:
    - main
    paths-ignore:
    - '**.md'
  pull_request:
    branches:
    - main
    paths-ignore:
    - '**.md'

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        go: ['1.24', '1.25']

    steps:
    - uses: actions/checkout@v5
    - uses: actions/setup-go@v6
      with:
        go-version: ${{ matrix.go }}

    - uses: actions/cache@v4
      with:
        path: |
          ~/go/pkg/mod
          ~/go/bin
          ~/.cache/go-build
        key: ${{ runner.os }}-go-${{ matrix.go }}-${{ hashFiles('**/go.sum') }}
        restore-keys: ${{ runner.os }}-go-${{ matrix.go }}

    - uses: golangci/golangci-lint-action@v9

    - name: check tools
      id: check_tools
      uses: andstor/file-existence-action@v3.0.0
      with:
        files: '/home/runner/go/bin/mage, /home/runner/go/bin/tparse'

    - name: setup tools
      if: steps.check_tools.outputs.files_exists != 'true'
      run: |
        go install github.com/magefile/mage@latest
        go install github.com/mfridman/tparse@latest

    - name: test
      run: mage test

    - uses: codecov/codecov-action@v5
      with:
        token: ${{secrets.CODECOV_TOKEN}}
        files: ./codecov.out
        flags: tests
        name: main-tests
